{% extends "users/base.html" %}
{% load static %}
{% block title %}
    <title>Password reset</title>
{% endblock title %}
{% block sign %}
<div class="signup-form">
    <h2>Password Reset</h2>
    <p>Forgotten your password? Enter your email address below, and we’ll email instructions for setting a new one.</p>
    <br>
    {% for field in form %}
        <div class="field-errors {% if field.errors %}has-error{% endif %}">
            {% if field.errors %}
                <ul class="error-list">
                    {% for error in field.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
    {% endfor %}
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{form.email}}
        <div class="center-content">
            <input id="submit-button" type="submit" value="Send Email">        
        </div>    
    </form>
</div>
{% endblock sign %}