{% extends "users/base.html" %}
{% load static %}
{% block title %}
    <title>Change password</title>
{% endblock title %}
{% block content %}
<div class="jumbotron">
    <div class="edit-account-form">
        <h2>Change Password</h2>
        <ul>
            <div class="instructions">
                <li>Your password can’t be too similar to your other personal information.</li>
                <li>Your password must contain at least 8 characters.</li>
                <li>Your password can’t be a commonly used password.</li>
                <li>Your password can’t be entirely numeric.</li>
            </div>
        </ul>
        <form method="POST">
            {% csrf_token %}
                {{ form.old_password }}
                <br>
                {{ form.new_password1 }}
                <br>
                {{ form.new_password2 }}
                <br>
            <input class="change-password-button" type="submit" value="Change">
            <a class="delete-account-button" href="{% url 'users:edit-account' %}">Cancel</a></div>
        </form>
        <script>
            document.getElementById("id_old_password").placeholder = "Enter old password";
            document.getElementById("id_new_password1").placeholder = "Enter new password";
            document.getElementById("id_new_password2").placeholder = "Confirm new password";
        </script>
    </div>
</div>
{% endblock content %}